
div.video-js {
  border: red 2px solid;
  position: absolute;
  left: -70000px;
}

canvas.overlay {
  border: blue 2px solid;
  position: absolute;
  top: 50px;
  left: 50px;
  width: 300px;
  height: 200px;
}