<div class="container">
    <div class="row">
        <div class="col-md-2">
            <!--Sidebar content-->

            Search: <input ng-model="query">
            Sort by:
            <select ng-model="orderProp">
                <option value="name">Alphabetical</option>
                <option value="age">Newest</option>
            </select>

        </div>
    </div>
</div>
<p/>
<div>
    <div class="row" ng-repeat="car in cars | filter:query | orderBy:orderProp" class="thumbnail">
        <div class="col-xs-3"><a href="#/cars/{{car.id}}">{{car.name}}</a></div>
        <div class="col-xs-5">{{car.snippet}}</div>
    </div>

</div>