<link rel="import" href="/PolymerComponents/polymer/polymer.html">

<polymer-element name="json-view"  attributes="model">
    <template>
        <pre>{{formattedModel}}</pre>
        <button on-click="{{refresh}}">Refresh</button>
    </template>

    <script>
        Polymer({
            ready: function() {
                this.refresh();
            },
            refresh: function() {
                this.formattedModel = JSON.stringify(this.model);
            }
        });
    </script>
</polymer-element>