rect.chartBackground {
    fill: white;
}

.axis path, .axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

text.axis {
    font: 14px sans-serif;
}

text.title {
    font: 18px sans-serif;
    z-index: 100;
}

text.button {
    font: 14px sans-serif;
    cursor: pointer;
    stroke: gray;
    stroke-width: 0.4px;
}

text.button.dummy {
    opacity: 0.0;
}

rect.button {    
    cursor: pointer;
    fill: blue;
    stroke-width:2;
    stroke:black;
    opacity: 0.4;
}

text.button:hover {
    stroke: black;
}

.axis .grid-line{
    stroke: black;
    shape-rendering: crispEdges;
    stroke-opacity: .2;
}



.line{
    fill: none;
    stroke: steelblue;
    stroke-width: 2;
}

.dot {
    fill: #fff;
    stroke: steelblue;
}

.circle {
    stroke: none;
    fill: red;
    fill-opacity: .7;
}

.bubble{
    fill-opacity: .3;
}

div.chartContainer.popup {
    position: absolute;
    top: 5px;
    left: 5px;
    background-color: #808080;
    z-index: 1000;
}

svg {
    margin: 10px;
    //outline: solid black;
}
