.axis path, .axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

.axis text {
    font: 10px sans-serif;
}

.axis .grid-line{
    stroke: black;
    shape-rendering: crispEdges;
    stroke-opacity: .2;
}

.line{
    fill: none;
    stroke: steelblue;
    stroke-width: 2;
}

.dot {
    fill: #fff;
    stroke: steelblue;
}

.circle {
    stroke: none;
    fill: red;
    fill-opacity: .7;
}

.bubble{
    fill-opacity: .3;
}

div.chartContainer.popup {
    position: absolute;
    top: 5px;
    left: 5px;
    background-color: #808080;
    z-index: 1000;
}
