extends layout

block content
  h1= title
  div(ng-app, ng-controller='ChatterCtrl')
    label Name:
    input(type="text", ng-model="chatter.name", placeholder="Enter your name")
    input(type='text', ng-model='chatter.newMessage', placeholder='New Message')
    button(ng:click='addMessage()') Send

    hr
    span Debug: chatter = {{chatter}}
  script(src='javascripts/chatter.js')