extends layout

block content
  h1= title
  ul
    li
      a(href='bindings') Bindings
    li
      a(href='chatter') Chatter
    li
      a(href='loadIt') Load It Up
    li
      a(href='personDirective') Person Directive