doctype 5
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='http://ajax.googleapis.com/ajax/libs/angularjs/1.0.3/angular.js')
  body
    a(href='/') Home
    block content