extends layout

block content
    h1= title

    div(ng-app, ng-controller='LoadItCtrl')
        input(ng-model='rows', type='text', placeholder='Number of Rows')
        button(ng-click='addRows()') Create Rows

        div(ng-repeat='thing in things')
            input(type='text', ng-model='$parent.things[$index].name')
            span {{$parent.things[$index].name}}&nbsp;
            span {{$parent.things[$index].name}}&nbsp;
            span {{$parent.things[$index].name}}&nbsp;
            span {{$parent.things[$index].name}}&nbsp;
            span {{$parent.things[$index].name}}&nbsp;
            span {{$parent.things[$index].name}}&nbsp;
            span {{$parent.things[$index].name}}&nbsp;
            span {{$parent.things[$index].name}}&nbsp;
            span {{$parent.things[$index].name}}&nbsp;
            span {{$parent.things[$index].name}}&nbsp;
            span {{$parent.things[$index].name}}&nbsp;
            span {{$parent.things[$index].name}}&nbsp;
    script(src='javascripts/loadIt.js')