doctype html
html
    head
        title= title
        meta(name='viewport', content='width=device-width, minimum-scale=1.0, initial-scale=1.0, user-scalable=yes')    
        
        link(rel='stylesheet', href='/css/main.css')
    body

        div#title
        block content
        div#bottomWrapper
            div#footer       

        // site common
        script(src='js/main.js')


