doctype html
html
    head
        title Node Polymer
        meta(name='viewport', content='width=device-width, minimum-scale=1.0, initial-scale=1.0, user-scalable=yes')

        link(rel='import', href='/components/thing-list.html')

        link(rel='stylesheet', type='text/css', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css')
        link(rel='stylesheet', type='text/css', href='css/main.css')
    body('unresolved')

        div.container
            thing-list

            span.appearance In the host DOM, class appearance is red.

        script(src='https://ajax.googleapis.com/ajax/libs/angularjs/1.3.1/angular.min.js')
        script(src='/js/scraps.js')
